:root{
    --text-color: #FFF;
    --button-color: #01A0C6;
    --editional-text: #666;
    --acctent-color: #283761;
}

body{
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: normal;
}

.container{
    outline: solid green;
    width: 1221px;
    padding: 0px 10px ;
    margin: 0 auto;
}

/* header */

.header-top{
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
}

.header-contacts{
    background-color: blue;
    margin-right: 275px ;
}

.header-socials{
    display: flex;
    gap: 4px;
    outline: solid red;
    margin-bottom: 8px;
}

.header-icon{
    width: 18px;
    height: 18px;
}

.header-options{
color: var(--acctent-color)
font-family: "Inter", sans-serif;
font-weight: 600;
padding-right: 12px ;
}

.header-option{
    display: block;
}

.header-registration{
    background-color: aquamarine;
    margin-left: 86px;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.header-exit{
    display: inline-block;
    margin-left: auto;
}

.header-registrs{
    display: flex;
}

.header-auth{
color: var(--editional-text);
text-align: right;
font-family: "Inter", sans-serif;
font-size: 14px;
line-height: 18px; /* 128.571% */
}

.header-basket{
    display: flex;
}

.header-quantity{
color: #AD2808;
font-family: "Inter", sans-serif;
text-align: right;
font-weight: 500;
}

.header-price{
color: var(--editional-text);
text-align: right;
font-size: 14px;
font-weight: 500;
font-family: "Inter", sans-serif;
text-decoration-line: underline;
}

.header-bottom{
    background-color: blueviolet;
}

.header-page{
color: var(--text-color);
font-size: 16px;
}

/* main */

.hero-text{
color: var(--text-color);
line-height: 26px; /* 144.444% */
}

.hero-title{
    color:var(--text-color);
    font-family: "Russo One", sans-serif;
font-size: 50px;
line-height: 55px; /* 110% */
}

.breadcrumb-link{
    color: var(--editional-text);
font-size: 14px;
line-height: 20px; /* 142.857% */
}

.hero-registr{
color: var(--text-color);
font-size: 17px;
font-weight: 700;
line-height: 24px; /* 141.176% */
text-transform: uppercase;
}

.amongus-title{
color: var(--text-color);
font-family: "Russo One", sans-serif;
font-size: 50px;
line-height: 55px; /* 110% */
}

.amongus-text{
color: var(--text-color);
font-size: 20px;
font-weight: 700;
line-height: 26px; /* 130% */
}

.amongus-link{
color: var(--text-color);
font-size: 17px;
font-weight: 700;
line-height: 24px; /* 141.176% */
text-transform: uppercase;
}

.feedback-title{
color: var(--acctent-color);
text-align: center;
font-family: "Russo One";
font-size: 50px;
line-height: 55px; /* 110% */
}

.feedback-top{
color: var(--editional-text);
text-align: center;
font-size: 24px;
line-height: 30px; /* 125% */
}

.feedback-label{
color: var(--editional-text);
font-size: 15px;
line-height: 18px; /* 120% */
}

.feedback-input{
color: #000;
font-size: 16px;
line-height: 24px; /* 150% */
}

.feedback-bottom{
color: var(--editional-text);
font-size: 15px;
line-height: 18px; /* 120% */
}

.feedback-bt{
color: var(--text-color);
text-align: center;
font-size: 17px;
font-weight: 700;
line-height: 24px; /* 141.176% */
text-transform: uppercase;
}

/* footer */


.footer-link{
color: var(--text-color);
font-size: 13px;
}

.contacts-title{
color: var(--text-color);
}

.contacts-link{
color: var(--text-color);
}

.contacts-text{
color: #EFEFEF;
font-size: 14px;
line-height: 22px; /* 157.143% */
}

.networks-text{
color: #CCC;
font-size: 12px;
}

.info-title{
    color:var(--acctent-color);
text-align: center;
font-family: "Russo One", sans-serif;
font-size: 50px;
line-height: 55px; /* 110% */
}

.info-text{
    color: var(--editional-text);
font-size: 16px;
font-weight: 700;
line-height: 24px; /* 150% */
}

.info-blockquote{
    color:var(--editional-text);
font-size: 20px;
font-weight: 700;
line-height: 24px; /* 120% */
}

.delivery-title{
    color: var(--acctent-color);
font-size: 20px;
font-weight: 700;
line-height: 30px; /* 150% */
}

.delivery-text{
    color:var(--editional-text);
font-size: 16px;
line-height: 24px; /* 150% */
}

.dropshipping-title{
    color: var(--acctent-color);
font-size: 20px;
font-weight: 700;
line-height: 30px; /* 150% */
}

.dropshipping-text{
    color: var(--editional-text);
font-size: 16px;
line-height: 24px; /* 150% */
}

.dropshipping-top{
    color: var(--editional-text);
font-size: 16px;
font-weight: 700;
line-height: 24px; /* 150% */
}

.discount-text{
    color:var(--editional-text);
font-size: 16px;
line-height: 24px; /* 150% */
}
