.system {
  background-color: #efefef;
  background-image: url(../images/backsystem.png);
  padding-top: 20px;
  padding-bottom: 133px;
  background-repeat: no-repeat;
  background-size: cover;
}

.system__title {
  color: $text-color;
  @extend %sections-title;
margin-top: 92px;
}
.discount {
  padding: 60px 0;
}

.discount__box {
  @include flexbox($space: 20px, $direction: column);
}

.discount__text {
  color: var(--editional-text);
  font-size: 16px;
  line-height: 24px; /* 150% */
  max-width: 711px;
}

.discount__title {
  color: var(--editional-text);
  font-size: 16px;
  line-height: 24px; /* 150% */
  margin-bottom: 12px;
}

.discount__points {
  @include flexbox($space: 12px, $direction: column);
}

.discount__point::before {
}

.percent {
  color: var(--editional-text);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
