%sections-title {
  font-family: "Russo One", sans-serif;
  font-size: 50px;
  line-height: 55px;
}

%subtitle{
color: $acctent-color;
font-size: 20px;
font-weight: 700;
line-height: 30px; 
}

%button-text{
    color: $text-color;
    font-weight: 700;
    font-size: 17px;
    text-transform: uppercase;
    line-height: 24px;
}

%button{
    border-radius: 8px;
    border: 1px solid $button-color;
    background-color: $button-color;
}