.hero {
  background-image: url(../images/mobile/backgroundmain@mobile-1x.webp);
  padding-top: 60px;
  padding-bottom: 42px;
  background-repeat: no-repeat;
  background-size: cover;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/mobile/backgroundmain@mobile-2x.webp);
  }
  @media screen and (min-width: 1200px) {
    padding-top: 84px;
    padding-bottom: 39px;
    background-image: url(../images/desktop/backgroundmain@desktop-1x.webp);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/desktop/backgroundmain@desktop-2x.webp);
    }
  }
  &__logo {
    margin-bottom: 94px;
    width: 240px;
    height: 20px;
    flex-shrink: 0;
    @media screen and (min-width: 1200px) {
      width: 455.75px;
      height: 37.449px;
      flex-shrink: 0;
      margin-bottom: 310px;
    }
  }

  &__box {
    @include flexbox($direction: column, $align: flex-start);
    @media screen and (min-width: 1200px) {
      @include flexbox($align: flex-end);
    }
  }

  &__info {
    @include flexbox($direction: column, $space: 20px, $align: flex-start);
    margin-bottom: 20px;
    @media screen and (min-width: 1200px) {
      margin-right: 200px;
      margin-bottom: 0;
    }
  }

  &__text {
    color: $text-color;
    line-height: 26px; /* 144.444% */
    width: 280px;
    @media screen and (min-width: 1200px) {
      width: 793px;
    }
  }

  &__title {
    color: $text-color;
    @extend %sections-title;
  }
  &__link {
    margin-top: 57px;
    margin-left: auto;
    margin-right: auto;
    width: 22px;
    display: none;
    @media screen and (min-width: 1200px) {
      display: block;
    }
  }
}

.breadcrumb {
  @include flexbox($space: 30px, $justifying: flex-start);
  &__link {
    color: $editional-text;
    font-size: 14px;
    line-height: 20px; /* 142.857% */
  }
}

.registr {
  @extend %button;
  padding: 10px 24px;
  @include flexbox($space: 20px);
  animation-name: shadow-hero;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  @media screen and (min-width: 1200px) {
    padding: 17px 32px;
    @include flexbox($space: 40px);
  }
  &__text {
    color: $text-color;
    font-family: Play;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 141.176% */
    text-transform: uppercase;
  }

  &__icon {
    width: 10px;
    height: 16px;
    fill: #fff;
    stroke-width: 2px;
    stroke: #fff;
  }
}

.sponsors {
  padding: 20px 0;
  @media screen and (min-width: 1200px) {
    padding: 56px 0;
  }
  &__points {
    @include flexbox();
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 8px;
    @media screen and (min-width: 1200px) {
      column-gap: 52px;
      row-gap: 32px;
    }
  }
  &__img {
    width: 100%;
    max-width: 80px;
    height: auto;
    @media screen and (min-width: 1200px) {
      max-width: 130px;
    }
  }
}

.amongus {
  background-image: url(../images/mobile/background-amongus@mobile-1x.webp);
  padding-top: 80px;
  padding-bottom: 67px;
  background-repeat: no-repeat;
  background-size: cover;
  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: url(../images/mobile/background-amongus@mobile-2x.webp);
  }
  @media screen and (min-width: 1200px) {
    padding-top: 105px;
    padding-bottom: 130px;
    background-image: url(../images/desktop/background-amongus@desktop-1x.webp);
  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: url(../images/desktop/background-amongus@desktop-2x.webp);
  }
  }
  &__title {
    color: $text-color;
    @extend %sections-title;
    margin-bottom: 20px;
    max-width: 221px;
    @media screen and (min-width: 1200px) {
      margin-bottom: 24px;
      max-width: 459px;
      font-family: "Russo One", sans-serif;
      font-size: 50px;
      line-height: 55px;
    }
  }

  &__text {
    color: $text-color;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
    margin-bottom: 20px;
    max-width: 522px;
    @media screen and (min-width: 1200px) {
      margin-bottom: 32px;
      font-size: 20px;
      font-weight: 700;
      line-height: 26px; /* 130% */
      max-width: 522px;
    }
  }

  &__bt {
    @extend %button;
    padding: 12px 24px;
    @include flexbox($space: 20px);
    @media screen and (min-width: 1200px) {
      padding: 17px 32px;
      @include flexbox($space: 30px);
    }
  }

  &__btext {
    @extend %button-text;
    @media screen and (min-width: 1200px) {
      color: $text-color;
      font-weight: 700;
      font-size: 17px;
      text-transform: uppercase;
      line-height: 24px;
    }
  }

  &__icon {
    width: 10px;
    height: 16px;
    fill: #fff;
    stroke-width: 2px;
    stroke: #fff;
  }
}

.feedback {
  padding: 40px 0;
  @media screen and (min-width: 1200px) {
    padding: 100px 0;
  }
  &__container {
    @include flexbox($direction: column);
    flex-wrap: wrap;
    @media screen and (min-width: 1200px) {
      display: block;
    }
  }
  &__title {
    color: $acctent-color;
    text-align: center;
    @extend %sections-title;
    margin-bottom: 12px;
    z-index: 0;
    @media screen and (min-width: 1200px) {
      margin-bottom: 16px;
      color: #283761;
      text-align: center;
      font-family: "Russo One";
      font-size: 50px;
      font-style: normal;
      font-weight: 400;
      line-height: 55px; /* 110% */
    }
  }

  &__top {
    color: $editional-text;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
    margin-bottom: 20px;
    @media screen and (min-width: 1200px) {
      margin-bottom: 40px;
      font-size: 24px;
      line-height: 30px;
    }
  }

  &__form {
    @include flexbox($direction: column, $align: normal);
  }

  &__points {
    @include flexbox($space: 16px, $direction: column, $align: flex-start);
    @media screen and (min-width: 1200px) {
      @include flexbox($space: 38px, $justifying: space-between);
    }
  }

  &__box {
    @include flexbox($direction: column, $space: 20px, $align: flex-start);
    @media screen and (min-width: 1200px) {
      @include flexbox($direction: column);
      margin-bottom: 62px;
    }
  }

  &__lable {
    color: $editional-text;
    font-size: 15px;
    line-height: 18px;
    @media screen and (min-width: 1200px) {
      font-size: 15px;
      line-height: 18px;
    }
  }

  &__input::before &__input {
    color: #000;
    font-size: 16px;
    line-height: 24px; /* 150% */
    margin-top: 16px;
    width: 100%;
    max-width: 280px;
  }

  &__bottom {
    @include flexbox($direction: column, $align: flex-start);
    margin-top: 34px;
    @media screen and (min-width: 1200px) {
      @include flexbox();
    }
  }

  &__info__text {
    color: $editional-text;
    font-size: 15px;
    line-height: 18px;
    max-width: 692px;
    margin-bottom: 20px;
  }

  &__bt {
    text-align: center;
    @extend %button-text;
    text-transform: uppercase;
    padding: 12px 40px;
    @extend %button;
    margin-top: 20px;
    @media screen and (min-width: 1200px) {
      margin-left: 329px;
      padding: 17px 40px;
    }
  }
}
.star {
  color: #d7143a;
  font-size: 15px;
  line-height: 18px;
}

#name {
  max-width: 412px;
  height: auto;
  padding: 12px 20px;
}

#telephone {
  max-width: 251px;
  height: auto;
  padding: 12px 17px;
}

#email {
  max-width: 343px;
  height: auto;
  padding: 12px 22px;
}
#agree {
  margin-right: 12px;
}
