.hero {
  background-image: url(../images/background-main.png);
  padding-top: 84px;
  padding-bottom: 39px;
  background-repeat: no-repeat;
  background-size: cover;
  &__logo {
    margin-bottom: 310px;
  }

  &__box {
    display: flex;
    align-items: flex-end;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: 200px;
  }

  &__text {
    color: $text-color;
    line-height: 26px; /* 144.444% */
  }

  &__title {
    color: $text-color;
    @extend %sections-title
  }
  &__link {
    display: block;
    margin-top: 57px;
    margin-left: auto;
    margin-right: auto;
    width: 22px;
  }
}

.breadcrumb {
  display: flex;
  gap: 30px;

  &__link {
    color: $editional-text;
    font-size: 14px;
    line-height: 20px; /* 142.857% */
  }
}

.registr {
  @extend %button;
  padding: 17px 32px;
  display: flex;
  gap: 40px;
  align-items: center;
  animation-name: shadow-hero;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  &__text {
    color: $text-color;
    font-family: Play;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 141.176% */
    text-transform: uppercase;
  }

  &__icon {
    width: 10px;
    height: 16px;
    fill: #fff;
    stroke-width: 2px;
    stroke: #fff;
  }
}

.sponsors {
  padding: 56px 0;
  &__points {
    display: flex;
    flex-wrap: wrap;
    column-gap: 52px;
    row-gap: 32px;
    justify-content: center;
  }
}

.amongus {
  background-image: url(../images/background-main2.png);
  padding-top: 105px;
  padding-bottom: 130px;
  background-repeat: no-repeat;
  background-size: cover;
  &__title {
    color: $text-color;
    @extend %sections-title;
    margin-bottom: 24px;
  }

  &__text {
    color: $text-color;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px; /* 130% */
    margin-bottom: 32px;
    max-width: 522px;
  }

  &__bt {
    @extend %button;
    padding: 17px 32px;
    display: flex;
    gap: 30px;
    align-items: center;
  }

  &__btext {
    @extend %button-text
  }

  &__icon {
    width: 10px;
    height: 16px;
    fill: #fff;
    stroke-width: 2px;
    stroke: #fff;
  }
}

.feedback {
  padding: 100px 0;
  &__title {
    color: $acctent-color;
    text-align: center;
    @extend %sections-title;
    margin-bottom: 16px;
  }

  &__top {
    color: $editional-text;
    text-align: center;
    font-size: 24px;
    line-height: 30px; /* 125% */
    margin-bottom: 40px;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__points {
    display: flex;
    gap: 38px;
    justify-content: space-between;
  }

  &__box {
    display: flex;
    flex-direction: column;
    margin-bottom: 62px;
  }

  &__lable {
    color: $editional-text;
    font-size: 15px;
    line-height: 18px; /* 120% */
  }

  &__input::before &__input {
    color: #000;
    font-size: 16px;
    line-height: 24px; /* 150% */
    margin-top: 16px;
  }

  &__bottom {
    display: flex;
    align-items: center;
  }

  &__info__text {
    color: $editional-text;
    font-size: 15px;
    line-height: 18px; /* 120% */
    max-width: 692px;
    margin-bottom: 20px;
  }

  &__bt {
    text-align: center;
    @extend %button-text;
    text-transform: uppercase;
    padding: 17px 40px;
    @extend %button;
    margin-left: 329px;
  }
}
.star {
  color: #d7143a;
  font-size: 15px;
  line-height: 18px;
}

#name {
  max-width: 412px;
  height: auto;
  padding: 12px 20px;
}

#telephone {
  max-width: 251px;
  height: auto;
  padding: 12px 17px;
}

#email {
  max-width: 343px;
  height: auto;
  padding: 12px 22px;
}
#agree {
  margin-right: 12px;
}
