.info {
  background-color: #efefef;
  &__container {
    display: flex;
  }
  
  &__block {
    padding-top: 20px;
    padding-bottom: 79px;
    justify-content: flex-start;
    align-items: center;
  }
  
  &__title {
    color: $acctent-color;
    text-align: center;
    font-family: "Russo One", sans-serif;
    font-size: 50px;
    line-height: 55px; /* 110% */
    margin-top: 40px;
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-start;
  }
  
  &__text {
    color: $editional-text;
    font-size: 16px;
    line-height: 24px;
    /* 150% */
    max-width: 579px;
    margin-top: 24px;
  }
  
  &__antland {
    color: $editional-text;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
  }
  
  &__blockquote {
    color: $editional-text;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px; /* 120% */
  }
}


