.footer {
  background-color: #000;
  &__box {
    padding-top: 56px;
    padding-bottom: 50px;
  }

  &__nav {
    @include flexbox();
  }

  &__nav__box {
    @include flexbox($space: 104px);
  }

  &__points {
    @include flexbox($space: 18px, $direction: column, $align: flex-start);
  }

  &__link {
    color: $text-color;
    font-size: 13px;
  }

  &__logo {
    margin-left: 138px;
    margin-right: 186px;
  }
}

.contacts__point {
  @include flexbox($justifying: space-between);
  &:nth-child(2) {
    margin-top: 11px;
  }

  &:nth-child(3) {
    justify-content: flex-end;
    margin-bottom: 25px;
    margin-top: 13px;
  }
}

.contacts__title {
  color: $text-color;
  font-size: 18px;
  font-weight: 400px;
}

.contacts__link {
  color: $text-color;
}

.contacts__icons {
  margin-left: 11px;
  width: 15px;
  height: 15px;
  fill: $button-color;
}

.contacts__icon {
  margin-left: 11px;
  width: 11px;
  height: 15px;
  fill: $button-color;
}

.contacts__schedule {
  @include flexbox($justifying: flex-end);
}

.contacts__text {
  color: #efefef;
  font-size: 14px;
  line-height: 22px; /* 157.143% */
}

.networks {
  padding-top: 16px;
  padding-bottom: 36px;
  &__box {
    @include flexbox();
  }

  &__points {
    @include flexbox($space: 15px);
  }

  &__text {
    color: #ccc;
    font-size: 12px;
    margin-right: auto;
  }

  &__icon {
    width: 15px;
    height: 15px;
    fill: $text-color;
  }

  &__icons {
    width: 21px;
    height: 15px;
    fill: $text-color;
  }
}
