.footer {
  background-color: #000;
  &__box {
    padding: 40px 0;
    @media screen and (min-width: 1200px) {
      padding-top: 56px;
      padding-bottom: 50px;
    }
  }

  &__nav {
    @include flexbox($direction: column-reverse);
    position: relative;
    @media screen and (min-width: 1200px) {
      @include flexbox($align: flex-start);
    }
  }

  &__nav__box {
    @include flexbox($space: 51px);
    margin-top: 40px;
    @media screen and (min-width: 1200px) {
      @include flexbox($space: 104px);
      margin-top: 0;
    }
  }

  &__points {
    @include flexbox($space: 12px, $direction: column, $align: flex-start);
    @media screen and (min-width: 1200px) {
      @include flexbox($space: 18px, $direction: column, $align: flex-start);
    }
  }

  &__link {
    color: $text-color;
    font-size: 13px;
    line-height: 18px;
    display: block;
  }

  &__logo {
    position: absolute;
    top: 10px;
    left: 30px;
    @media screen and (min-width: 768px) {
      left: 260px;
    }
    @media screen and (min-width: 1200px) {
      position: static;
      margin-left: 138px;
      margin-right: 186px;
    }
    &__img {
      width: 100%;
      max-width: 303px;
      height: 18px;
    }
  }
}

.contacts{
  padding-top: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 0;
  }
}

.contacts__point {
  @include flexbox($justifying: space-between);
  &:nth-child(2) {
    margin-top: 11px;
  }

  &:nth-child(3) {
    justify-content: flex-end;
    margin-bottom: 25px;
    margin-top: 13px;
  }
}

.contacts__title {
  color: $text-color;
  font-size: 16px;
  font-weight: 400px;
}

.contacts__link {
  color: $text-color;
}

.contacts__sp{
  color: #FFF;
font-family: Play;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
}

.contacts__icons {
  margin-left: 11px;
  width: 15px;
  height: 15px;
  fill: $button-color;
}

.contacts__icon {
  margin-left: 11px;
  width: 11px;
  height: 15px;
  fill: $button-color;
}

.contacts__schedule {
  @include flexbox($justifying: flex-end);
}

.contacts__text {
  color: #efefef;
  font-size: 13px;
  line-height: 22px; /* 157.143% */
}

.networks {
  padding-top: 12px;
  @media screen and (min-width: 1200px) {
    padding-top: 16px;
    padding-bottom: 36px; 
  }
  &__box {
    @include flexbox();
  }

  &__points {
    @include flexbox($space: 15px);
  }

  &__text {
    color: #ccc;
    font-size: 13px;
    margin-right: auto;
  }

  &__icon {
    max-width: 21px;
    max-height: 15px;
    fill: $text-color;
  }

  &__icons {
    width: 21px;
    height: 15px;
    fill: $text-color;
  }
}
