.header {
  background-color: $text-color;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.top {
  &__container {
    @include flexbox($direction: row-reverse);
    padding-top: 9px;
    padding-bottom: 9px;
    @media screen and (min-width: 1200px) {
      padding-top: 15px;
      padding-bottom: 15px;
      @include flexbox();
    }
  }
  &__contacts {
    margin-right: 275px;
    display: none;
    @media screen and (min-width: 1200px) {
      display: block;
    }
  }

  &__socials {
    @include flexbox($space: 4px, $justifying: flex-start);
    margin-bottom: 8px;
  }

  &__viber {
    width: 18px;
    height: 18px;
    fill: #6f40aa;
  }
  &__whatsapp {
    width: 18px;
    height: 18px;
    fill: #2aa71b;
  }

  &__telegram {
    width: 18px;
    height: 18px;
    fill: #049be4;
  }

  &__options {
    color: $acctent-color;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    padding-right: 12px;
  }
  &__option {
    display: block;
  }

  &__registration {
    margin-left: 40px;
    margin-right: 40px;
    @include flexbox($direction: column);
    display: none;
    @media screen and (min-width:768px) {
      display: flex;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
      margin-left: 86px;
    margin-right: auto;
    }
  }

  &__exit {
    display: inline-block;
    margin-left: auto;
  }
  &__enter {
    width: 19px;
    height: 19.5px;
    fill: #828282;
    &:hover {
      fill: $button-color;
    }
  }

  &__registrs {
    @include flexbox($space: 11px);
  }

  &__auth {
    color: $editional-text;
    text-align: right;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    line-height: 18px; /* 128.571% */
    transition: all 0.5s ease-in;
    &:hover,
    &:focus {
      color: #01a0c6;
      font-weight: 500;
    }
  }

  &__box{
    margin-right: 40px;
    outline: blue solid;
  }

  &__basket {
    @include flexbox();

  }

  &__basket:hover &__cart {
    fill: $button-color;
  }

  &__basket:hover &__quantity {
    color: $button-color;
  }

  &__quantity:focus {
    color: $button-color;
  }

  &__price:hover,
  &__price:focus {
    color: $button-color;
  }

  &__quantity {
    color: #ad2808;
    font-family: "Inter", sans-serif;
    text-align: right;
    font-weight: 500;
    margin-right: 5px;
    align-items: flex-end;
    transition: color 0.5s ease-in;
  }

  &__cart {
    width: 25px;
    height: 18px;
    fill: #ad2808;
    transition: fill 0.5s ease-in;
  }
  &__price {
    color: $editional-text;
    text-align: right;
    font-size: 14px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    text-decoration-line: underline;
    transition: color 0.5s ease-in;
    display: none;
    @media screen and (min-width: 768px) {
      display: block;
    }
    @media screen and (min-width: 1200px) {
      display: block;
    }
  }

  &__burger{
    margin-left: 41px;
    @media screen and (min-width: 1200px) {
      display: none;
    }
  }
}

.bottom {
  background-color: $acctent-color;
  animation-name: change-header;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  display: none;
  @media screen and (min-width: 1200px) {
    display: block;
  }
  &__nav {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  &__points {
    @include flexbox($space: 45px);
  }

  &__point {
    position: relative;
  }

  &__page {
    color: $text-color;
    font-size: 16px;
    animation-name: header-text;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }
  &__page.active::after {
    content: "";
    width: 1px;
    height: 100%;
    background: $text-color;
    position: absolute;
    top: 0;
    right: -20px;
  }

  &__page.active::before {
    content: "";
    width: 1px;
    height: 100%;
    background: $text-color;
    position: absolute;
    top: 0;
    left: -20px;
  }
}

.active {
  font-weight: 700;
}

.logo__img{
  width: 139px;
height: 26px;
@media screen and (min-width: 768px) {
  width: 200px;
  height: 38px;
}
@media screen and (min-width: 1200px) {
  width: 261px;
  height: 50px;
}
}