.drop {
  padding-top: 20px;
  padding-bottom: 133px;
  background-image: url(../images/backdrop.png);
  background-repeat: no-repeat;
  background-size: cover;
  &__title {
    color: $text-color;
    font-family: "Russo One", sans-serif;
    font-size: 50px;
    line-height: 55px; /* 110% */
    margin-top: 92px;
  }
}

.dropshipping {
  padding-top: 60px;
  &__box {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__title {
    color: $acctent-color;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px; /* 150% */
    margin-bottom: 20px;
  }

  &__text {
    color: $editional-text;
    font-size: 16px;
    line-height: 24px; /* 150% */
    max-width: 996px;
  }

  &__top {
    color: $editional-text;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
    max-width: 996px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__item::before {
  }

  &__points {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__sp {
    color: $editional-text;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px; /* 150% */
  }
}
