.drop {
  background-color: #efefef;
  padding-top: 20px;
  padding-bottom: 133px;
  background-image: url(../images/backdrop.png);
  background-repeat: no-repeat;
  background-size: cover;
  &__title {
    color: $text-color;
    @extend %sections-title;
    margin-top: 92px;
  }
}

.dropshipping {
  padding-top: 60px;
  background: #EFEFEF;
  &__box {
    @include flexbox($space: 20px, $direction: column, $align: flex-start);
  }

  &__title {
    @extend %subtitle;
  }

  &__text {
    color: $editional-text;
    font-size: 16px;
    line-height: 24px; /* 150% */
    max-width: 996px;
  }

  &__top {
    color: $editional-text;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
    max-width: 996px;
  }

  &__list {
    @include flexbox($space: 20px, $direction: column, $align: flex-start);
  }

  &__item::before {
  }

  &__points {
    @include flexbox($space: 20px, $direction: column, $align: flex-start);
  }
  &__sp {
    color: $editional-text;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px; /* 150% */
  }
}
